<section id="posts">
    {{#each posts}}
        <p>
            <b>{{email}}:</b>
            {{text}} <br>
            <i style="font-size: xx-small;">{{created_at}}</i>
        </p>
    {{/each}} 
</section>