<h1>Papo Reto</h1>
<form action="/login" method="post">
    <input type="text" name="email" id="email" placeholder="email"><br>
    <input type="password" name="senha" id="senha" placeholder="senha"><br>
    <input type="submit" value="login">
</form>
<p><a href="/sobre" data-test-id="sobre">Saiba mais</a></p>