{{#if username}}
<p id="userdisplay"><strong>{{username}}</strong> <a href="/login/logout">sair</a></p>
{{> sendpost}}
{{else}}
<p><a href="/login">entrar</a> - <a href="/login/signin">cadastrar</a></p>
{{/if}}
<p><a href="/sobre" data-test-id="sobre">Saiba mais</a></p>
{{> quotes}}
{{> posts}}
