<h1>Papo Reto</h1>
<p><a href="/login">Entrar</a></p>
<p><a href="/sobre" data-test-id="sobre">Saiba mais</a></p>
<p>
<blockquote>"{{quote.text}}" -
    <strong>{{quote.author}}</strong>
</blockquote>
</p>