{{#if username}}
<p><strong>{{username}}</strong> <a href="/logout">sair</a></p>
{{else}}
<p><a href="/login">entrar</a></p>
{{/if}}
<p><a href="/sobre" data-test-id="sobre">Saiba mais</a></p>
<p>
<blockquote>"{{quote.text}}" -
    <strong>{{quote.author}}</strong>
</blockquote>
</p>